name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup GraalVM CE
        uses: rinx/setup-graalvm-ce@v0.0.1
        with:
          graalvm-version: "20.2.0"
          java-version: "java11"
          native-image: "true"
      - name: Pring Version
        run: |
          java -version
          native-image --version
      - name: Build with Gradle
        run: ./gradlew test
