# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Setup GraalVM CE
        uses: rinx/setup-graalvm-ce@v0.0.1
        with:
          graalvm-version: 21.2.0
          java-version: java11
          native-image: true
      - name: Pring Version
        run: |
          java -version
          native-image --version
      - name: Build with Gradle
        run: ./gradlew test

       
